<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs');%>
    <title><%= title %></title>
</head>
<body>
    <%- include('../partials/navbar.ejs');%>
    <div class="container mt-3 mx-2">
        <h5>Explore our Products</h5>
    </div>
    <div class="container mt-3 mx-2" id="app"></div>
    <%- include('../partials/script.ejs');%>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</html>